@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f84565;
  --color-primary-dull: #ff002e;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #ff002e #ffffff;
}

body {
  color: white;
  background-color: #0b090a;
}
